@import '../../styles/settings.scss';


.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  background-color: darken($color-dark, 3%);
  a {
    color: $color-light;
    text-decoration: none;
    font-size: 24px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline;
      margin-left: 10px;
    } 
  }
}
